body {
    font-family: Arial, sans-serif;
}

header {
    font-weight: bold;
}

#main-content {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#generatedCode {
    display: none;
}

#htmlCode,
#cssCode,
#jsCode {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

#htmlCodeSnippet,
#cssCodeSnippet,
#jsCodeSnippet {
    white-space: pre-wrap;
}

.btn-secondary {
    margin-top: 10px;
}

